<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="text-center">
        <h3>XO Real Work Assessment Details</h3>
      </div>
      <div class="mt-2">Step 1: You will receive or might have received an email shortly about the work space
        setup created for your assessment.</div>
      <div class="mt-2">
        Step 2: Follow the instructions given in the email. If you have not already done so, please:
        <div>
          <ol>
            <li>Download and install the <a href="https://clients.amazonworkspaces.com/">Amazon WorkSpaces
                Client</a> software. You'll use this software to connect to a remote PC on the internet that has been
              specially configured for this test.
            </li>
            <li>Watch <a href="https://drive.google.com/open?id=1-FVugaRwCWvTwjK3CBb2X2ROcscLGRgb">this video</a>
              demonstrating how to connect to the Amazon WorkSpace.
            </li>
            <li>Watch <a href="https://drive.google.com/open?id=1whWBeZ_0X7VZkqEdQn2Ms37bwZuvIXkU">this video</a>
              demonstrating how to use the Test Execution tool to conduct software tests.
            </li>
            <li>Watch <a href="https://drive.google.com/open?id=1lHixZEjcUST9fQeZB9m1FokqMIM6XjF6">this video</a>
              demonstrating how to fail a test case and create a defect.
            </li>
            <li>Use the execution IDs 1376496768 & 1376496769 to practice the tests using XO TE Tool.</li>
          </ol>
        </div>
        Please note that the XO TE tool login credentials are pre-configured. You should not enter or change the
        password.
        <p>During your testing assessment, your performance will be evaluated based on your ability to execute 
            5 test cases in less than 50 minutes.
      </div>
      <div class="mt-2">Step 3: Please ensure that you complete the pre-work 72 hours prior to the assessment. 
        Our experience shows that 100% of candidates who do not do the pre-work and practice with the test cases 
        we provide fail the assessment.</div>
      <div class="mt-2">Step 4: Finally, connect to the Work space before your scheduled assessment begins to make sure you are
        prepared to start when the session begins.</div>
      <div class="text-center mt-2">Best of luck!</div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

