/.gradle/
backend/.gradle/
backend/.project
backend/.settings/
backend/salesforce-api/.classpath
backend/salesforce-api/.gradle/
backend/salesforce-api/.project
backend/salesforce-api/.settings/
backend/salesforce-api/bin/
backend/salesforce-api/build/
backend/salesforce-api/logs/
backend/shared/.classpath
backend/shared/.gradle/
backend/shared/.project
backend/shared/.settings/
backend/shared/bin/
backend/shared/build/
backend/shared/src/main/resources/local/
backend/status-management/.classpath
backend/status-management/.gradle/
backend/status-management/.project
backend/status-management/.settings/
backend/status-management/bin/
backend/status-management/build/
backend/status-management/logs/
frontend/.gradle/
frontend/.project
frontend/.settings/
frontend/node_modules/
